* {
  -webkit-font-smoothing: antialiased;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #181c22;
}

*:focus {
  outline: none;
}

main {
  width: 100%;
  max-width: 800px;
  margin: auto;
  padding: 1rem;
}

.hide {
  display: none;
}

.site-title {
  font-family: 'Roboto Mono', monospace;
  color: #fff;
}

.username-form {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #181c22;
  z-index: 1;
}

.form-control {
  width: 17rem;
  height: 4rem;
  margin: 0 auto;
}

.form-username {
  position: relative;
  top: 50%;
  margin-top: -2rem;
  z-index: 2;
}

.username-form label {
  color: #fff;
  display: block;
  margin-bottom: 0.5rem;
}

.username-form input {
  border: 0;
  border-bottom: 1px solid #fff;
  background-color: #181c22;
  color: #FFF;
  font-size: 1rem;
  padding: 0.3rem;
}

.username-form button {
  background-color: #00bfaa;
  border: 0;
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem 0.7rem;
  border-radius: 2px;
  cursor: pointer;
}

.messages-control {
  width: 100%;
  max-width: 800px;
  overflow: hidden;
}

.chatInfo {
  color: #fff;
  position: relative;
  margin-top: -35px;
  padding: .35rem;
  width: 43.6rem;
  height: 20px;
  line-height: 20px;
  background: #2a2e33; /*#2a2e33*/
}

.messages {
  margin: 0;
  padding: 0.2rem;
  width: 90%;
  background-color: #2a2e33;
  border-radius: 3px;
  height: 20rem;
  overflow-y: scroll;
}

.messages form {
  display: inline-block;
  width: 100%;
}

.messages li {
  margin: 0;
  color: #fff;
  list-style: none;
  padding: 0.5rem 0 0.2rem 0.2rem;
  border-bottom: 1px solid #403f3f;
}

.messages li:last-child {
  margin: 0;
  color: #fff;
  list-style: none;
  padding: 0.5rem 0 0.2rem 0.2rem;
  border-bottom: 0;
}

.message-user {
  width: 90%;
  height: 42px;
  background-color: #FFF;
  padding: 0.2rem;
  margin-top: 0.4rem;
}

.message-input {
  width: 88%;
  padding: 0.1rem;
  font-size: 1rem;
  line-height: 2.45rem;
  height: 2.45rem;
  border: 0;
}

.message-user button {
  background-color: #00bfaa;
  border: 0;
  color: #fff;
  font-size: 1rem;
  padding: 0.73rem 1rem;
  border-radius: 2px;
  float: right;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
}

#swapMsg {
  background: 0;
  border: 0;
  color: #fff;
  font-size: 1.3rem;
  margin-top: 8px;
  line-height: 1.3rem;
  cursor: pointer;
}

.shake-div {
  animation: shake 1.3s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

@media only screen and (max-width: 800px) {

  main {
    width: 93%;
    margin: 0 auto;
    padding: 0.5rem;
  }

  .site-title {
    font-size: 1.5rem;
  }

  .messages {
    width: 100%;
    height: 25rem;
  }

  .message-user {
    width: 98.3%;
    height: 42px;
    background-color: #FFF;
    padding: 0.2rem;
    margin: 0;
    margin-top: 0.4rem;
  }
  
  .message-input {
    width: 73%;
  }

  #swapMsg {
    position: absolute;
    top: 1rem;
    right: .7rem;
    font-size: 2rem;
  }

}